<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
        <div class="nav-secondary">
          <a href="#refund">&rarr; Refund</a>
          <a href="#returns">&rarr; Returns</a>
        </div>

        <h2>WORRY FREE SHOPPING</h2>
        <p>Nature’s Nutra is committed to providing our valued customers with peace of mind when purchasing from us. If for any reason you are not satisfied or enjoying your product, we will give you 100% refund and you may keep the product for a hassle free experience. No return(s) necessary!</p>

        <div><img style="margin: 0 auto; display:block; width: 250px;" src="https://www.dropbox.com/s/d745tv6ztrr6oxd/guarantee.png?raw=1" alt="Refund policy"></div>

        <p>Your happiness is very important to us. We want our customers to always feel safe ordering from our online store, knowing your satisfaction is our #1 priority. We are a small-business and it is important to us that we are able to gain your trust.</p>

        <h2 id="refund">INITIATING A REFUND</h2>
        <p>Please reach out to our customer service team here to request for a refund along with RMA (Return Merchandise Authorization) number. Please be sure to provide us with your order number and the reason for return. We will refund you a maximum of one bottle of each kind with no questions asked!</p>

        <p>Once we’ve received your refund request, our team will process it as quickly as possible to get your refund back to you. The fund will be issued back to the original form of payment that the order was placed. Please note that it may take your bank up to 3 - 5 business days to process your refund from the date that it was issued by Nature’s Nutra and your credit card company. If for any reason you still don’t see the funds back into your account, please first contact your credit company or bank. If you’ve done all of this and you still have not received your refund after 5 - 7 business days from when the refund was initiated, please send us an email at <a href="mailto:contact@myhealthyselections.com">contact@myhealthyselections.com</a>.</p>

          

        <h2 id="returns">RETURNS</h2>
        <p>We do not require or accept returns, especially if the product’s safety seal has already been broken or tampered with. Feel free to dispose of the product as you wish. We do, however, accept returns of unopened products under certain circumstances. Please confirm any returns with customer service prior to shipment, via email: <a href="mailto:contact@myhealthyselections.com">contact@myhealthyselections.com</a> and we will provide you the return shipping label.</p>

        <address>
         <strong> Return Address:</strong> <br>
          My Healthy Selections <br>
          27758 Santa Margarita Pkwy #543 <br>
          Mission Viejo, CA 92691 <br>
        </address>

        <!-- <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3321.2486334707105!2d-117.64752538530058!3d33.650718980717116!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dce98846a47d65%3A0x4d9ffbd2d670b0c6!2s27758%20Santa%20Margarita%20Pkwy%20%23543%2C%20Mission%20Viejo%2C%20CA%2092691%2C%20USA!5e0!3m2!1sen!2scz!4v1605378100985!5m2!1sen!2scz" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div> -->
      </div>

      <style>
        p {
          text-align: justify;
        }
        .nav-secondary {
          font-size: 1rem;
        }
        .nav-secondary a {
          width: 200px;
          margin-right: 2rem;
        }
      </style>
    </div>
  </div>
</div>
