<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">

          <div class="nav-secondary">
            <a href="#sales-tax">&rarr; Sales Tax</a>
            <a href="#shipping-methods">&rarr; Shipping Methods</a>
          </div>

          <div class="nav-secondary">
            <a href="#estimated-time">&rarr; Estimated Transit Time</a>
            <a href="#shipping-fees">&rarr; Shipping Fees</a>
          </div>
          
          <div class="nav-secondary">
            <a href="#verification-shipping">&rarr; Verification & Shipping</a>
            <a href="#tracking">&rarr; Tracking</a>
          </div>

        <h2>ORDER PROCESSING</h2>
        <p>At Nature’s Nutra we process orders 7-days a week, 24 hours a day and on holidays. It takes a maximum of 1 business day to process an order before it is shipped. During periods of higher demand, orders may take up to additional 2 days to process before being shipped.</p>

        <p> Note: Occasional delays in process time or Cancellation of order may occur when an item purchased is on back order or it is out of stock. We are not responsible for delivery delays due to weather, insufficient address information, holidays, and/or carrier complications.</p>

        <h2>ITEM AVAILABILITY</h2>
        <p>Nature’s Nutra may cancel your order, or part of your order, if the item(s) is out of stock and is no longer available. You will receive an email if your complete order is cancelled due to the out of stock item(s).</p>

        <p>In the situation that part of your order is out of stock, Nature’s Nutra will remove the out of stock item(s) from your order and we will ship the remaining item(s). You will not be charged for out of stock items ordered, and will be informed by an email notification.</p>

        <h2 id="sales-tax">SALES TAX</h2>
        <p>Applicable sales tax will be added to all purchases shipping to California and out-of-state.</p>

        <h2 id="verification-shipping">VERIFICATION & SHIPPING</h2>
        <p> When placing your order, please make sure to use your billing information (first name, last name, billing address) and contact information as it appears on your credit card statement. In the event that your information does not match exactly what your credit card has on file, your order will be put on hold, pending verification. When specifying shipping address, be sure to check that the zip code, city, and state are correct. If this information does not match the delivery service’s records, we may have to contact you to update the information.  </p>

        <h2 id="tracking">TRACKING INFORMATION</h2>
        <p>For packages with tracking information, select “Priority Mail” services at checkout. Standard shipping may or may not include tracking information.</p>

        <h2 id="shipping-methods">SHIPPING METHODS</h2>
        <p>To ensure the best shopping experience, Nature’s Nutra has partnered with the United States Postal Service for all our shipments domestic.</p>
        <div><img style="margin: 0 auto; width: 50%" src="https://www.dropbox.com/s/dn7kco5mas8ne4o/Post.png?raw=1" alt="Post Services"></div>

        <small> Note: When entering shipping address, please double check and make sure the shipping information and  address is correct, deliverable, and complete (Suite, Apt, Room, etc.)</small>

        <h2 id="estimated-time">ESTIMATED TRANSIT TIMES</h2>
        <div style="display:flex; flex-direction: column; align-items: center;">
          <div><img style="margin: 0 auto" src="https://www.dropbox.com/s/ymx91ky4gawhtlx/Shipping%20Map.png?raw=1" alt="Shipping Map"></div>
          <small style="width: 50%;">*Delivery date may vary according to USPS; we have limited control of the package after it shipped from our warehouse.</small>
        </div>

        <h2 id="shipping-fees">SHIPPING FEES</h2>
        <h5>DOMESTIC SHIPPING</h5>

        <p>Standard shipping is FREE for any order. Priority (faster) shipping starts at $4.99 and then varies by weight.</p>

        <h5>INTERNATIONAL SHIPPING</h5>

        <p>Currently we no longer offer international shipping. Sorry for the inconvenience. Thank you for your understanding.</p>


      </div>

    </div>
  </div>



  <style>
    p {
      text-align: justify;
    }

    .nav-secondary {
      font-size: 1rem;
      display: flex;
      justify-content: space-evenly;
    }

    .nav-secondary a {
      width: 300px;
      margin-right: 2rem;
      /* border-bottom: none !important; */
    }
    .page-width {
      position: relative;
    }
    .btn-scroll {
      position: fixed;
      left: 0;
      top: 0;
    }
  </style>
</div>

