<div class="page-width page-partners">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>

      <div class="rte">
    
        <h4 style="text-align: center;">
          Nature's Nutra is honored to partner with organisations and programs that share our mission and core values.
        </h4>

        <div class="partners" style="display:flex; justify-content: space-evenly;">
          <div class="partners__info">
            <div class="partners__img">
              <img src="https://www.dropbox.com/s/1n940xgz8mylzfy/DSM.png?raw=1" alt="">
            </div>
            <div class="partners__link"><a href="https://www.dsm.com/personal-care/en_US/home.html">www.dsm.com</a></div>
          </div>

          <div class="partners__info">
            <div class="partners__img">
              <img src="https://www.dropbox.com/s/miz3oo5pvpqyfxv/Albion.png?raw=1" alt="">
            </div>
            <div class="partners__link"><a href="https://albionminerals.com/">www.albionminerals.com</a></div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <style>
    
    .partners__link {
      font-size: 1rem;
      text-align: center;
    }

    .partners__img {
      width: 200px;
    }

    @media (max-width: 460px) {
      .partners__img {
        width: 150px;
      }
    }
  </style>
</div>
