<div class="page-width page-about">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">

      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      <!-- <div class="slider">
        {% section 'collection-slider' %}
      </div> -->

      <div class="rte">
        <!-- {{ page.content }} -->

        <div class="about__desc">

          <div class="about__text">
            Nature’s Nutra is a privately owned brand by Meganutra, Inc., that specializes in marketing and distributing premium dietary supplement products globally. Nature’s Nutra develops products that focus on infant, children and adults health. 
            
            <div class="about__quote"><q>We strongly believe that the foundation of good health relies on routine maintenance and a strong discipline so invest today for a happier and healthier tomorrow.</q></div>
          
            Our primary objective is to offer and provide people around the world the benefits of adding vitamins and nutritional supplements to their daily diet to achieve optimal health. Our products cater to the dietary needs of people of various cultural, ethnic, religious, and lifestyle origins. Our experienced R&D team carefully selects the highest quality ingredients for our products, ensuring the purity and potency in every bottle.
            
            Every single bottle produced for Nature’s Nutra, is manufactured in GMP-compliant facilities that have been approved by both the Federal Drug Administration as well as state health authority to ensure all our products meet the world standards and safe to be consumed.
            
            <div class="about__quote"><q>When it comes to your health, and those of your loved ones especially the young ones, we do not overlook on any of the details of our products. It is our solemn promise that every product produced is 100% safe and effective for you and your loved ones.</q></div>

          </div>
      
      
          <!-- <div class="certification">
            <img src="https://www.dropbox.com/s/an9ugsewjshn57k/FDA.png?raw=1" alt="">
            <img src="https://www.dropbox.com/s/98vohitb7jvva0x/NSF%20Logo.png?raw=1" alt="">
            <img src="https://www.dropbox.com/s/knvzloj9bslc9b4/GMP.png?raw=1" alt="">
            <img src="https://www.dropbox.com/s/8u58eguzpfea5iv/Made%20In%20USA.png?raw=1" alt="">
            <img src="https://www.dropbox.com/s/j3uly6cfjw9t2cn/USDA%20Organic.png?raw=1" alt="">
          </div> -->
        </div>
      
        <style>
          .about__desc {
            display: flex;
            justify-content: space-between;
            text-align: justify;
          }
      
          /* .certification {
            width: 20%;
            padding: 0;
            margin: 0;
            display: flex;
            flex-direction: column;
          }
      
          .certification img {
            width: 100px;
          } */
      
          /* .about__text {
            width: 75%;
          } */

          .product-card__title {
            visibility: hidden;
          }

          .section-header {
            background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('https://www.dropbox.com/s/k3cm6cr2upydvq9/Nature%27s%20Nutra%20Cover%20Lineup%20JPEG.jpg?raw=1');
            height: 350px;
            width: 100%;
            background-size: cover;
            background-position: center 10%;

            display: flex;
            justify-content: center;
            align-items: center;
            
          }

          @media (max-width: 950px) {
            .section-header {
              height: 270px;
              background-repeat: no-repeat;
            }
          }

          @media (max-width: 590px) {
            .section-header {
              height: 200px;
              background-repeat: no-repeat;
            }
          }

          @media (max-width: 450px) {
            .section-header {
              height: 180px;
              background-repeat: no-repeat;
            }
          }

  


          .about__quote {
            text-align: center;
            padding: 2%;
            margin: 2%;
            font-weight: bold;
            color: #EB7B2C;
            border-left: 2px solid #70BB2B;
          }
          
        </style>
      </div>
    </div>
  </div>
</div>
